

.main-heading{
    text-align: center;
    font-size: 200%;
}


.card-layout{
    display: flex;
    flex-direction: column;
    gap: .5em;
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black 1px;
    box-shadow: 5px 5px 20px rgba(77, 29, 3, 0.60);
}



.card__des{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1em;
}



.img-responsive{
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1440px){

    .card-layout{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    

}


@media screen and (min-width: 1441px){
    .card-layout{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    
}