:root{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif
}
@media screen  and (max-width: 767px){
    .offscreen-menu{
        background-color: black;
        color: white;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        
    }
    
    .offscreen-menu ul{
        list-style: none;
        
    }
    
    .offscreen-menu ul li{
        padding: .5em;
    }
    
    .offscreen-menu.active{
        right: 0;
    }
    
    nav{
        padding: 1rem;
        display: flex;
        background-color: black;
    }
    
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    
    .ham-menu span:nth-child(1){
        top: 25%;
    }
    
    .ham-menu span:nth-child(3){
        top: 75%;
    }
    
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .logo{
        width: 5em;
    }

    .brand-logo{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
    .offscreen-menu{
        background-color: black;
    }

    .offscreen-menu  ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .offscreen-menu li a{
        color: white;
        text-decoration: none;
        display: block;
        padding-left: 3em;
    }

    .offscreen-menu li a:hover{
        text-decoration: underline;
    }

    .brand-logo{
        width: 5em;
    }

    .logo{
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .logo{
        display: none;
    }

    .brand-logo{
        width: 5em;
    }

    .offscreen-menu{
        background-color: black;
    }

    .offscreen-menu  ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    .offscreen-menu li a{
        color: white;
        text-decoration: none;
        display: block;
    }

    .offscreen-menu li a:hover{
        text-decoration: underline;
    }


}


    .banner{
        background: rgba(0, 0, 0, .40) url(../pictures/produkty_uvod.jpg);
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        height: 15em;
        
    }

    

    .banner_text{
        width: 50%;
        color: white;
        padding: .5em;
        display: flex;
        flex-direction: column;
    }

    .banner__button{
        display: block;
        text-decoration: none;
        color: white;
        border-radius: 16px;
        border: solid white 1px;
        margin-top: .5em;
        padding: .5em;
        text-align: center;

    }

    .banner__button :hover{
        background-color: white;
        text-decoration: underline;
        color: black;  
    }


.about-Me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;

}

.about-Me__heading{
    font-weight: lighter;
}

.about-Me__text{
    text-align: center;
    padding: .5em;
    width: 50%;
}

footer{
    background-color: black;
    padding: 1em;
    margin-top: 3em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-List{
    list-style: none;
    
}


.footer-List__link{
    text-decoration: none;
    color: white;
}

.footer-List__link:hover{
    text-decoration: underline;
}

.footer-List__link--active{
    font-weight: 600;
}

.footer__text{
    color:white
}
